<h1 mat-dialog-title>Title</h1>
<mat-dialog-content>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate, expedita inventore modi mollitia non possimus
  quibusdam reprehenderit sapiente? Ab ad animi aperiam corporis dolores esse et ex, expedita minima modi neque nulla
  porro possimus quae quam quas quis quo reiciendis repellat temporibus totam, ut, voluptates? Ipsam obcaecati
  temporibus voluptatem.
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="hideModal()" mat-button>Cancel</button>
</mat-dialog-actions>
