<section class="section">
  <div class="content">
    <div class="hero bg-gray-100 u-round-md">
      <div class="hero-body">
        <div class="content">
          <div class="row">
            <div class="col text-center">
              <h1>🥜<span class="text-red-700">Ng</span><span class="text-blue-500">Cashew</span>!</h1>
              <h6 class="font-alt font-light">
                A webpage powered by
                <b>
                  <i class="fab fa-angular text-red-700"></i> Angular +
                  <i class="fas fa-cloud text-pink-600"></i> Cirrus.
                </b>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
