<p>{{ 'hello world' | uppercaseFirst }}</p>

<p>{{ 'Angular' | reverseString }}</p>

<ul>
  <li *ngFor="let item of items | filterArray:'category':'Electronics'">{{ item.name }}</li>
</ul>

<p>{{ 'This is a long text that should be truncated' | truncateText:20 }}</p>

<ul>
  <li *ngFor="let item of items | sortArray:'price':'asc'">{{ item.name }} - {{ item.price }}</li>
</ul>

<p>{{ 100 | currencyConverter:1.2 }}</p>

<p>{{ '1133224455' | phoneNumberFormatter }}</p>

<p>{{ '1234567890' | phoneNumberFormatterUs }}</p>

<p>{{ 1024 | fileSize }}</p>

<div [innerHtml]="markdownText | markdownToHtml"></div>

<p>{{ someTimestamp | timeAgo }}</p>

<p>{{ 85 | percentChange:100 }}</p>

<p>{{ 'John Doe' | initials }}</p>

<p>{{ '\<b>This is HTML text\</b>' | stripHtmlTags }}</p>

<p>{{ 'camelCaseExample' | camelCaseToSpaces }}</p>

<p>{{ '1234567890' | maskedInput :  '(***) ***-****' }}</p>

<p>{{ 'item' | pluralize:1 }}</p>

<p>{{ 'item' | pluralize:5 }}</p>

<p>{{ 7200 | humanizeDuration }}</p>

<p>{{ 150 | humanizeDuration }}</p>

<p>{{ 30 | humanizeDuration }}</p>

<p>{{ 0 | humanizeDuration }}</p>

<pre>{{ someJsonObject | jsonPrettyPrint }}</pre>

<p>{{ 'Pass123' | passwordStrength }}</p>

<p>{{ 'StrongPassword123' | passwordStrength }}</p>

<p>{{ 1 | ordinalNumber }}</p>

<p>{{ 22 | ordinalNumber }}</p>

<p>{{ 13 | ordinalNumber }}</p>

<p>{{ 7 | ordinalNumber }}</p>

<p>{{ 'This is a URL-friendly title!' | urlify }}</p>

<ul>
  <li *ngFor="let item of items | arrayShuffle">{{ item.name }} - {{ item.price }}</li>
</ul>

<div [style.background-color]="'#3498db'" [style.color]="'#3498db' | colorContrast">
  Text with contrast
</div>

<p>{{ 1984 | romanNumeral }}</p>

<p>{{ 'this is a sentence. this is another. the third.' | sentenceCase }}</p>

<ul>
  <li *ngFor="let item of 'apple,banana,cherry' | csvToArray">{{ item }}</li>
</ul>
